<h1>Ratings</h1>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating %>
      <%= link_to 'delete rating', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' } %> <!-- miksi method ei ole destroy? -->
    </li>
  <% end %>
</ul>

<!-- huom - ei ole new_rating_path ym, miten se löytyy muista, asia korjataan materiaalin mukaan myöhemmin -->
<!-- resource only käyttöön (railsin oma REST API CRUD ->> reitin nimitys muuttuu 'oikeaan' muotoonsa) -->
<%= link_to 'Create a new rating', new_rating_path %> |